@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

html, body {
    width: 100%; 
    height: 100%; 
    overflow-x: hidden; 
    font-family: "Open Sans", sans-serif;
}

.header {
    width: 100vw; 
    height: 800px; 
    background-image: url('/images/Background.jpg'); 
    background-position: center; 
    background-size: cover; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    text-align: center; 
    position: relative; 
    left: 50%; 
    margin-left: -50vw; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.wrapper {
    width: 1140px; 
    padding: 0 16px;
    margin: 0 auto; 
}

.section {
    /* display: none;  */
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.hamburger {
    position: absolute;
    top: 18px; 
    right: 35px; 
    cursor: pointer;
    z-index: 10; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
}

.hamburger__line {
    height: 3px; 
    background: #151812; 
    width: 30px; 
    margin: 3px 0; 
}

.hamburger__line--long {
    width: 36px; 
}

.nav {
    position: absolute; 
    top: 0;
    left: -345px; 
    width: 345px;
    height: 800px;
    background-color: #FFA501; 
    transition: left 0.3s ease; 
    z-index: 5; 
    
}
 
.nav__list {
    list-style-type: circle; 
    padding-left: 40px;      
    margin: 100px 20px;
    text-align: left;
   
}
.nav__item::marker {
    color: black; 
    font-size: 2.6em;
}
 .nav__item {
    margin-left:20px ;    
} 
.nav.active {
    left: 0; 
}
.nav__link {
    text-decoration: none;
    color:#FFFFFF;         
    font-weight: 700;
    font-size: 24px;
}
.overlay {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(255, 255, 255, 0.75); 
    display: none;
    z-index: 10; 
}

.overlay.active {
    display: block; 
}
.networks {
    position: relative;
    top: 222px;
    left: -700px;
    display: flex;               
    align-items: center;         
    transform: rotate(-90deg);    
    transform-origin: left top;   
    white-space: nowrap;          

}

.networks__title {
    margin-right: 25px;   
    font-weight: 700;
    font-size: 21px;
    color: black; 
}
.networks__line{
    height: 3px; 
    background: #000000; 
    width: 70px; 
    margin: 3px 0; 
}
.image-container-nav{
    margin-left: 15px;
}
#networks .networks__image{
    margin-left: 15px;
    width: 20px;
    height: 19px;
    transform: rotate(90deg);
}
.section{
    background-color: aqua;
}
.nav .networks__image{
    margin-top: 230px;
    margin-left: 20px;
    width: 20px;
    height: 19px;
    transform: rotate(90deg);
    align-items: center;
}



