@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

html, body {
    width: 100%; 
    height: 100%; 
    overflow-x: hidden; 
    font-family: "Open Sans", sans-serif;
}

.header {
    width: 100vw; 
    height: 800px; 
    background-image: url('/images/Background.jpg'); 
    background-position: center; 
    background-size: cover; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    text-align: center; 
    position: relative; 
    left: 50%; 
    margin-left: -50vw; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.wrapper {
    width: 1140px; 
    padding: 0 16px;
    margin: 0 auto; 
    
}

.section {
    /* display: none;  */
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.hamburger {
    position: absolute;
    top: 18px; 
    right: 35px; 
    cursor: pointer;
    z-index: 10; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
}

.hamburger__line {
    height: 3px; 
    background: #151812; 
    width: 30px; 
    margin: 3px 0; 
}

.hamburger__line--long {
    width: 36px; 
}

.nav {
    position: absolute; 
    top: 0;
    left: -345px; 
    width: 345px;
    height: 800px;
    background-color: #FFA501; 
    transition: left 0.3s ease; 
    z-index: 5; 
    
}
 
.nav__list {
    list-style-type: circle; 
    padding-left: 40px;      
    margin: 100px 20px;
    text-align: left;
   
}
.nav__item::marker {
    color: black; 
    font-size: 2.6em;
}
 .nav__item {
    margin-left:20px ;    
} 
.nav.active {
    left: 0; 
}
.nav__link {
    text-decoration: none;
    color:#FFFFFF;         
    font-weight: 700;
    font-size: 24px;
}
.nav__close{
    width: 29px;
    height: 29px;
    position: absolute;
    top: 20px; 
    right: 20px; 
    cursor: pointer; 
    z-index: 15; 
}
.overlay {
    position:fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(255, 255, 255, 0.75); 
    display: none;
    z-index: 2; 
}

.overlay.active {
    display: block; 
}
.networks {
    position: relative;
    top: 100px;
    left: -700px;
    display: flex;               
    align-items: center;         
    transform: rotate(-90deg);    
    transform-origin: left top;   
    white-space: nowrap;          

}

.networks__title {
    margin-right: 25px;   
    font-weight: 700;
    font-size: 21px;
    color: black; 
}
.networks__line{
    height: 3px; 
    background: #000000; 
    width: 70px; 
    margin: 3px 0; 
}
.image-container-nav{
    margin-left: 15px;
}
#networks .networks__image{
    margin-left: 15px;
    width: 20px;
    height: 19px;
    transform: rotate(90deg);
}
.section{
    background-color: #FFFFFF;
    
}
.nav .networks__image{
    margin-top: 230px;
    margin-left: 20px;
    width: 20px;
    height: 19px;
    transform: rotate(90deg);
    align-items: center;
}

.header__wrapper{
    width: 1140px; 
    padding: 0 16px;
    margin: 0 auto; 
}
.greeting{
    color: #000000;
    text-align: left;
}

.text-with-circle {
    flex-flow: row;
    display: flex;
    align-items:center;
     
  }
  .text-with-circle h4 {
    position: relative;
    top: 1px;
    left: -25px;
  }
  
  .circle {
    min-width: 36px;
    min-height: 36px;
    border-radius: 100%;
    background: #ffa501;
  }

.greeting__buttons{
    margin: 30px;
}
  .btn {
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    padding: 12px 25px;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  
  .btn_orange {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 165, 1);
    margin-left: -30px;
  }
  .text-block-with-circle{
    flex-flow: row;
    display: flex;
    align-items:center;
  }
  .image-text-block__heading{
    position: relative;
    top: 1px;
    left: -25px;
  }
  .image-text-block__text {
    margin-top: -300px;
  }
  .image-text-block__image{
    margin-left: 25px;
    margin-right: 70px;
  }
  .image-text-block {
    display: flex;
    align-items: center; 
}

.image-text-block__text{
    font: weight 500px;
    font-size: 14px;
}
.image-text-block__name{
    margin-left: -4px;
    font-size: 36px;
}
.image-text-block__line {
    height: 3px; 
    background: #FFA501; 
    width: 62px; 
    margin: 3px 0; 
}
.image-text-block__p{
    margin-top: 10px;
}

.image-text-block__image {
    position: relative;
    top: 1px;
    left: -25px;
  }
#section2, .experience-text{
    margin-top: -300px; 
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .experience-text-with-circle {
    flex-flow: row;
    display: flex;
    align-items:center;
    margin-top: 540px;
   margin-left: 45px;
  }
  .experience-text__heading {
    position: relative;
    top: 0px;
    left: -45px;
  }
  .experience-text__title{
    font-weight: 700;
    font-size: 36px;
  }
  .experience-text__line {
    height: 3px; 
    background: #FFA501; 
    width: 62px; 
    margin: 20px 190px   40px; 

}

.experience-text__subsections{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start;
    position: relative;
}

.experience-text__education,.experience-text__work {
    flex: 1;
    width: 433px;
    padding: 20px;
    margin: 0 40px;
    position: relative;
}

.experience-text__education::before,
.experience-text__work::before {
    content: '';
    position: absolute;
    margin-top: 35px;
    top: -5px; 
    width: 14px; 
    height: 15px; 
    background-color: #FFA501;
    border-radius: 50%; 
}
.experience-text__education .horizontal-line,
.experience-text__work .horizontal-line {
    content: '';
    position: absolute;
    width: 43px; 
    height: 2px; 
    background-color: #000000; 
}
.experience-text__education .horizontal-line {
    top: 110px; 
    left: -15px; 
}

.experience-text__work .horizontal-line {
    top: 110px; 
    left: -15px; 
}

.horizontal-line__second {
    content: '';
    position: relative; 
    width: 43px; 
    height: 2px; 
    background-color: #000000; 
    margin-top: 40px;
    left: -35px; 
}
.experience-text__education::before {
    left: -20px; 
}

.experience-text__work::before {
    left: -20px; 
}
.experience-text__education::after,
.experience-text__work::after {
    content: '';
    position: absolute;
    top: 45px;
    bottom: 0; 
    width: 2px; 
    height: 343px;
    background-color: #000000; 
}
.experience-text__education::after {
    left: -15px; 
}

.experience-text__work::after {
    left: -15px; 
}
.experience__education{
    margin-top: 40px;
    margin-left: 8px;
}
.experience__education::after {
    display: none; 
}
.circle-wrapper{
    flex-flow: row;
    display: flex;
    align-items:center;
     
  }
  .experience-text-icon{
    position: relative;
    top: 8px;
    left: -20px;
  }

  .experience-text-title{
    margin-left: 50px;
    margin-top: -35px;
  }
  .experience-text-subtitle{
    margin-left: 50px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .experience-text-description{
    font-size: 13px;
    font-weight: 450;
  }

  .experience__education-udemy{
    margin-top: -20px;
    margin-left: 8px;
  }
  .experience__work.work-text-with-circle{
    margin-top: 40px;
    margin-left: 8px;
  }

  .experience__work-designer.work-text-with-circle{
    margin-top: -20px;
    margin-left: 8px;
  }





  .contacts {
    display: flex;
    align-items: center; 
}
  .contacts-block-with-circle{
    flex-flow: row;
    display: flex;
    align-items:center;
  }
  .contacts__heading{
    position: relative;
    top: 1px;
    left: -25px;
  }
  .contacts__description{
    margin-top: -400px;
  }
  .contacts__text {
    margin-top: -300px;
    font: weight 500px;
    font-size: 14px;
  }
  .contacts__image{
    margin-left: 25px;
    margin-right: 70px;
  }

.contacts__name{
    margin-left: -4px;
    font-size: 36px;
}
.contacts__line {
    height: 3px; 
    background: #FFA501; 
    width: 62px; 
    margin: 3px 0; 
}
.contacts__h4{
    margin-top: 15px;
    font-size: 14px;
}

.contacts__image {
    position: relative;
    top: 1px;
    left: -25px;
  }
  .contacts__image-container {
    display: flex; 
    
    align-items: center; 
    gap: 25px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.contacts-container__image{
    width: 31px;
    height: 30px; 
    transition: transform 0.3s; 
}

.contacts-container__image:hover {
    transform: rotate(90deg) scale(1.1);
}
.contacts__h4-2{
font-size: 14px;
}

#contactForm{
    margin-top: 250px;
    margin-left: -370px;
}

.form-row {
    display: flex; 
    justify-content: flex-start; 
    margin-bottom: 15px; 
}

.form-group {
    flex: 1; 
    margin-right: 10px; 
    position: relative;
}

.form-group:last-child {
    margin-right: 0; 
}



label {
    display: block; 
    margin-bottom: 5px; 
    text-align: left; 
}

input, textarea {
    width: 100%; 
    box-sizing: border-box; 
    border: 1px solid black; 
    border-radius: 0;
}

input[type="text"], input[type="email"] {
    height: 45px;
    width: 285px; 
}

textarea {
    height: 190px; 
    width: 596px; 
    resize: none;
}

.contactForm__button {
    margin-top: 10px; 
    width: 233px;
    height: 45px;
    border: none;
    background-color: #FFA501;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.contactForm__button:hover {
    background-color:#A0522D; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}